<div class="default-page" ng-app="JPN" ng-controller="BaseCtrl">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <h3>Get tokens from your app</h3>
          <p>
            Download android test app <a href="https://files.jandi.com/files-public/e2170fc003d9015267b87bf023b9ddee/0d24782ad610f5c44b1feb776ffee270.apk/download/" target="_blank">here</a> and install the application.
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>Start push notification test</h3>
          <p>Run the application. You can check each tokens for GCM and Baidu, a few seconds later.</p>
          <p>Then ID and tokens values(on web page) will be completed automatically.<br>
          <em> * If not, press "GCM & BAIDU REGIST" button in test application.</em></p>
          <p>Then, click "<strong>Test Start</strong>" button below.</p>
          <form name="form" ng-submit="startTest()">
            <div>
              <label>ID: {{device.id}}</label>
            </div>
            <div class="">
              <input type="text" class="form-control" placeholder="GCM(registration_id)" ng-model="device.gcm" disabled />
            </div>
            <div class="">
              <input type="text" class="form-control" placeholder="Baidu(channel_id)" ng-model="device.baidu" disabled />
            </div>
            <button class="btn btn-primary" ng-disabled="device.id == undefined" type="submit">Test Start</button>
          </form>
          <p>Results:</p>
          <div class="result">
            <p ng-repeat="msg in messages">{{msg}}</p>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>Report</h3>
          <p>Send email to <a href="mailto:mk@tosslab.com">mk@tosslab.com</a> with above results</p>
        </div>
      </li>
    </ul>
  </div>
</div>
