<div class="default-page" ng-app="JPN" ng-controller="BaseCtrl">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <h3>Get tokens from your app</h3>
          <p>
            Download android test app <a href="#">here</a> and install the application. You can check each token values and press "Bind" button in your application.
          </p>
          <p>ID: {{device.id || '"Bind" first, please'}}</p>
          <p>GCM(registration_id)</p>
          <input type="text" ng-model="device.gcm" disabled />
          <p>Baidu(channel_id)</p>
          <input type="text" ng-model="device.baidu" disabled />
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            Start push notification test
          </h3>
          <p>
            <button>Start</button>
          </p>
          <p>
            Results:
          </p>
          <div class="result">
            <p ng-repeat="log in logs">{{log}}</p>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>
            Report
          </h3>
          <p>Send email to <a href="mailto:mk@tosslab.com">mk@tosslab.com</a> with above results</p>
        </div>
      </li>
    </ul>
  </div>
</div>
