<div class="default-page" ng-app="JPN" ng-controller="BaseCtrl">
  <div class="main container clearfix">
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <h3>Get tokens from your app</h3>
          <p>
            Download android test app <a href="#">here</a> and install the application.
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            Start push notification test
          </h3>
          <p>
            Press "Bind" button in test application, then ID and each token values will be completed automatically.
          </p>
          <form name="form" ng-submit="startTest()">
            <div>
              <label>ID: {{device.id}}</label>
            </div>
            <div class="">
              <input type="text" class="form-control" placeholder="GCM(registration_id)" ng-model="device.gcm" disabled />
            </div>
            <div class="">
              <input type="text" class="form-control" placeholder="Baidu(channel_id)" ng-model="device.baidu" disabled />
            </div>
            <button class="btn btn-primary" ng-disabled="device.id == undefined" type="submit">Test Start</button>
          </form>
          <p>
            Results:
          </p>
          <div class="result">
            <p ng-repeat="msg in messages">{{msg}}</p>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>
            Report
          </h3>
          <p>Send email to <a href="mailto:mk@tosslab.com">mk@tosslab.com</a> with above results</p>
        </div>
      </li>
    </ul>
  </div>
</div>
